---
title: Home
---

<%
var blogIndex = find_page('blog/index.html')
var blogChildren = find_pages('blog', false, false)
var pagesIndex = find_page('pages/index.html')
var pagesChildren = find_pages('pages', false, false)
%>

<%- include('./@templates/before.ejs') -%>

<h1><%= data.title %></h1>

<p>
  <img src="/@images/html.png" alt="HTML">
  <img src="/@images/css.png" alt="CSS">
  <img src="/@images/js.png" alt="JS">
</p>

<ul>
  <% data.links.forEach((link) => { %>
    <li>
      <a href="<%= link.url %>"><%= link.text %></a>
    </li>
  <% }) %>
</ul>

<h2><%= blogIndex.data.title %></h2>
<ul>
  <% blogChildren.forEach((p) => { %>
    <li>
      <a href="<%= p.url %>"><%= p.data.title %></a>
    </li>
  <% }) %>
</ul>

<h2><%= pagesIndex.data.title %></h2>
<ul>
  <% pagesChildren.forEach((p) => { %>
    <li>
      <a href="<%= p.url %>"><%= p.data.title %></a>
    </li>
  <% }) %>
</ul>
