<p>
  <button type="button" data-alert="appTitle" data-event="click">
    Click me
  </button>
  <button type="button" data-alert="Hello, world!" data-event="dblclick">
    Double click me
  </button>
</p>
