---
title: Post 2
---

<%- include('/@templates/before.ejs') -%>

<:markdown:>
# <%= page.data.title %>

Lorem ipsum dolor sit amet consectetur, adipiscing elit lacinia primis.

- Suspendisse nec nunc sed justo imperdiet rhoncus et ut lorem.
- Nulla ac tellus porttitor, posuere orci in, semper mi.
- Proin sagittis mauris in ullamcorper luctus.
- Morbi volutpat sapien in condimentum molestie.
- Fusce semper eros in rutrum venenatis.
- Morbi in metus feugiat, tempor lectus a, venenatis ante.
</:markdown:>

<%- include('/@templates/after.ejs') -%>
