<%- include('/templates/before.ejs') -%>

<div>
  <h1><%= env.APP_TITLE %></h1>

  <p>
    <img src="/assets/logo/html.png" alt="HTML">
    <img src="/assets/logo/css.png" alt="CSS">
    <img data-image="js" alt="JS">
  </p>

  <ul>
    <li>
      <a href="@baseURL/pages/page-one/">Go to page one</a>
    </li>
    <li>
      <a href="@baseURL/pages/page-two/">Go to page two</a>
    </li>
    <li>
      <a href="@baseURL/pages/markdown/">Go to Markdown page</a>
    </li>
  </ul>

  <p>
    <button type="button" data-alert="appTitle" data-event="click">Click me</button>
    <button type="button" data-alert="Hello, world!" data-event="dblclick">Double click me</button>
  </p>
</div>

<%- include('/templates/after.ejs') -%>
